    @import url("https://fonts.googleapis.com/css?family=Sofia|Oswald|Raleway|Fjalla One");
    
    /* normal stuff */  
    html{
        overflow: hidden;
    }

    .body{
        font-size: 25px;
        background-color: black;
        background-image: url("./images/lapis2.png");  
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
        /* no highlighting website */
        -webkit-user-select: none; 
        -ms-user-select: none; 
        user-select: none;
        height: 100%;
    }

    .nav-name{
        font-size: 60px;
        color:white;
        margin-bottom: 10px;
        font-family: sofia;
    }

    .frame{
        display: flex;
        width:100%;
        height:100%;
        background-color: transparent;
        align-items: center;
        justify-content: center;
        align-self: center;
        height: 100%;
        height: 100vh; /* Full viewport height */
    }


    .utility-description{
        font-family: raleway;
        font-size: 20px;
    }

    .navbutton{
        border: 0px;
        color: white;
        padding: 15px;
        cursor: pointer;
        font-size: 20px;
        background-color: transparent;
        font-family: Oswald;
        transition: color 0.2s;
    }

    .current-tab{
        color: white;
        padding: 15px;
        cursor: pointer;
        font-size: 20px;
        background-color: transparent;
        font-family: Oswald;
        transition: color 0.2s;
    }

    .navbutton:hover{
        color: #79A2F2;
    }

    .introduction{
        color:white;
        margin: 5%;
        font-family:raleway;
    }

    .other{
        color:white;
        margin: 5%;
    }

    .utilities{
        color:white;
        margin: 5%;
        font-family: Fjalla One;
    }
    
    .utility-button{
        border: 1px;
        border-color: white;
        color: white;
        padding: 15px;
        cursor: pointer;
        font-size: 25px;
        background-color: transparent;
        font-family: Fjalla One;
    }

    .utility-button:hover{
        color:#79A2F2
    }

    .socials{
        display:flex;
        color:white;
        margin:5%;
        font-family: Fjalla One;
        flex-direction: column;
    } 

    .music{
        color:white;
        margin: 5%;
        font-family:raleway;
    }

    /* @keyframes color-change {
        0%{color: white;}
        25%{color: #79A2F2;}
        50%{color: #235FD9;}
        75%{color: #79A2F2;}
        100%{color: white;}
    } */


/* mobile stuff */

    @media (min-width: 501px){

        /* nav */

        .dropdown{
            display: none;
        }
        .nav {
            display: flex;
            flex-direction: column; 
            padding: 0.5%;
            margin: 3%;
            align-items: left;
            text-align: center;
            background-color: transparent;
            width: 30%;
        }

        .right{
            display: flex;
            flex-direction: column;
            width: 70%;
            height: 90%;
            text-align: right;
            border: white;
            border-style: solid;
            border-width: 3px;
            margin: 2%;
            overflow: auto;
        }

    }

    @media (max-width: 500px) {

        .nav{
            display: none;
            border-color: white;
            border-width: 1px;
        }

        /* mobile menu */

            .dropbtn {
                background-color: black;
                color: white;
                padding: 16px;
                font-size: 25px;
                border: 2px solid white;
            }

            /* container*/
            .dropdown {
            position: fixed;
            bottom:3vw;
            right:3vw;
            display: inline-block;

            }

            /*actual dropdown stuff*/
            .dropdown-content {
            display: none;
            position: absolute;
            bottom: 80px;
            right:1px;
            background-color: white;
            min-width: 160px;
            z-index: 1;
            text-align: center;
            }

            /*links*/
            .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            font-size: 20px;
            }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {background-color: #ddd;}

            /* Change the background color of the dropdown button when the dropdown content is shown */
            .dropdown:hover .dropbtn {background-color: white; color: black;}

            .right{
                display: flex;
                flex-direction: column;
                width: 70%;
                height: 90%;
                text-align: right;
                overflow: auto;
            }


    }
/* no scroll wheel */

        /* width */
        ::-webkit-scrollbar {
            width: 1px;
        }
        
        /* Track */
        ::-webkit-scrollbar-track {
            background: black
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: black;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: black;
        }    

    

   